body {font-family: arial,sans-serif; font-size: 10pt;}
p {font-family: arial,sans-serif; font-size: 10pt;}
p.reallybig {font-family: arial,sans-serif; font-size: 12pt;}
p.note {font-family: arial,sans-serif; font-size: 8pt;}
blockquote {font-family: arial,sans-serif; font-size: 10pt;}
td {font-family: arial,sans-serif; font-size: 10pt;}
td.reallybig {font-family: arial,sans-serif; font-size: 12pt;}
dd {font-family: arial,sans-serif; font-size: 10pt;}
dt {font-family: arial,sans-serif; font-size: 10pt; font-weight: bold}
ol {font-family: arial,sans-serif; font-size: 10pt;}
ul {font-family: arial,sans-serif; font-size: 10pt;}
li {font-family: arial,sans-serif; font-size: 10pt;}
h1 {font-family: arial,sans-serif; font-size: 16pt; font-weight: bold;}
h2 {font-family: arial,sans-serif; font-size: 14pt; font-weight: bold;}
h3 {font-family: arial,sans-serif; font-size: 12pt; font-weight: bold;}
pre {font-family: courier new, courier; font-size: 10pt;}
