BODY {background-color: #FFFFFF; color: #000000; font-family: sans-serif; font-size: 10pt}

H1 {font-family: sans-serif; font-size: 12pt; font-weight: bold; color: #000000}

H2 {font-family: sans-serif; font-size: 10pt; font-weight: bold}

H3 {font-family: sans-serif; font-size: 10pt; font-weight: bold}

PRE {font-family: monospace; font-size: 10pt; margin-left: 5px}

UL {font-family: sans-serif; font-size: 10pt; list-style-type: disk}

OL {font-family: sans-serif; font-size: 10pt; list-style-type: decimal}

TD {font-family: sans-serif; font-size: 10pt; color: #000000}

CAPTION {font-family: sans-serif; font-size: 10pt; font-weight: bold; color: #000000}

TH {font-family: sans-serif; font-size: 10pt; font-weight: bold; color: #000000}

DL {font-family: sans-serif; font-size: 10pt; color: #000000; margin-left: 5px}

P {font-family: sans-serif; font-size: 10pt; color: #000000; margin-left: 5px}

#mono {font-family: monospace}